[submodule "external/LibRaw"]
	path = external/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
	ignore = dirty
[submodule "external/LibRaw-demosaic-pack-GPL2"]
	path = external/LibRaw-demosaic-pack-GPL2
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL2.git
	ignore = dirty
[submodule "external/LibRaw-demosaic-pack-GPL3"]
	path = external/LibRaw-demosaic-pack-GPL3
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL3.git
	ignore = dirty
[submodule "external/LibRaw-cmake"]
	path = external/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake
